/* body{
            
} */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color:darkgray;
    /* margin: 10px; */
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 1px 2px grey;
    border-radius: 0px 0px 10px 10px;
}

.header{
    text-align: center;
    /* position:sticky;
    left: 0;
    right: 0; */
    font-size: 2em;
    /* padding: 20px 0px 20px 0px; */
    /* background-image: url(/assets/background.png); */
    /* opacity: 0.5; */
}
section {
    border: 1px solid white;
    box-shadow: 1px 2px 4px 2px gray;
    border-radius: 10px;
    /* background-color:darkgray; */
    margin: 5% 10px 0 10px;
}
section div {
    padding: 0px 10px 10px 10px;
}
img {
    justify-content: center;
    margin: 15px 0 5px 0 ;
}
a {
    text-decoration: none;
}
article {
    /* display: flex; */
    margin: 20px 10px 20px 10px;
}
article > div > p {
    font-size: 20px;
}
nav {
    display:flex;
    flex: auto;
    
    margin: 0px 10 0px 10px;
    justify-content: space-between;
}
nav > div {
    display: inline;
    align-items: center;
    margin: 10px 0 5px 0;
    padding-right: 20px;
}
.link a {
    margin-left: 5px;
    padding-left: 20px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
/* .flex-container {
    column-count: 3;
    column-gap: 10px;
    box-shadow: 2px 4px 5px 4px grey;
    padding: 10px;
    margin: 20px;
    height: 100% auto;
    background-color: DodgerBlue;
} */

/* .flex-container > div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    
} */
.flex-section {
    display: flex;
    /* background-color: gray; */

}
.card {
    border: 1px solid white;
    box-shadow: 2px 4px 5px 4px gray;
    padding: 20px;
    /* width: 100%; */
    margin: 30px;
    background-color: white;
}

.flex-box {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 2px 4px 5px 4px grey;
    padding: 10px;
    margin: 20px;
    /* background-color: aqua; */
}

.flex-box > div {
    width: 30%;
    margin: 100px;
    text-align: center;
    line-height: 75px;
}
/* .box1 {
    display: inline;
    border: 1px solid white;
    padding: 20px;
    margin: 30px;
} */
/* .box1 > div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    width: 300px;

} */